body {
  background-image: url('https://cdn.hipwallpaper.com/i/14/0/es9Jgk.jpg');
  color: whitesmoke;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: darken; */
}


#leave-game {
  margin-top: 25px;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

/* GREET SCREEN ------------------------------*/
.greet-chars:hover {
  background-color: rgb(156, 54, 54);
  border-radius: 20px;
}

#greet-title {
  text-align: center;
}

#greet-page {
  display: grid;
  grid-template-columns: 650px;
  justify-content: center;
  grid-row-gap: 20px;
}

/* CREATE FORM FIELDS */
#create-name {
  width: 200px;
  height: 30px;
  font-size: 20px;
}

#create-url {
  width: 200px;
  height: 30px;
  font-size: 20px;
}

/* CREATE FORM BUTTON */

#create-button {
  width: 200px;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 10px;
}

/* DELETE BUTTON  */

.delete-char {
  width: 200px;
  height: 30px;
  font-size: 20px;
}

/* HOW TO PLAY SCREEN ------------------------------*/

#how-to {
  display: grid;
  grid-template-columns: 600px;
  justify-content: center;
}

#characters {
  display: grid;
  grid-template-columns: 270px 270px;
  justify-content: center;
  grid-gap: 20px;
}

.center {
  text-align: center;
}

/* HOW TO PLAY START BUTTON */

#start {
  width: 200px;
  height: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 75px;
  font-size: 20px;
  border-radius: 10px;
}

/* BOARDGAME SCREEN ------------------------------*/

#master-container {
  display: grid;
  grid-template-columns: 1200px 200px;
  justify-content: center;
  grid-column-gap: 20px;
}

#gameboard {
  display: grid;
  grid-template-columns: 210px 35px 210px 35px 210px 35px 210px 35px 210px;
  grid-template-rows: 210px 35px 210px 35px 210px 35px 210px 35px 210px;
  /* grid-row-gap: 35px; */
  /* height: 800px; */
}

.arrow-right {
  background-image: url('../images/chevron-right.png');
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-left {
  background-image: url('../images/chevron-left.png');
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  background-image: url('../images/chevron-down.png');
  background-repeat: no-repeat;
  background-position: center;
}

#sidebar {
  display: grid;
  grid-template-columns: 200px;
  /* position: absolute;
  right: 0%; */
}

#stats {
  height: 200px;
  margin-top: 150px;
}

#gameboard > .grid-item {
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  /* position: relative; */
}

#clippers, #leftphone, #moveback, #dysentary {
  text-shadow: 2px 2px 4px black;
}

.turns {
  float: left;
  /* display: inline-block; */
  margin-right: 30px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

#sprites-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.image {
  max-height: 90%;
  max-width: 90%;
  /* left: 5%;
  right: 5%;
  bottom: 0%; */
}

#rollBtn {
  width: 80px;
  height: 35px;
  border-radius: 10px;
  font-size: 16px;
}

/* DICE ROLL */

.block {
  display: flex;
  position: relative;
  justify-content: center;
}
.dice-count, .dice-count input {
  font-size: 20px;
}
.box {
  width: auto;
  /* border: 1px solid black; */
  text-align: left;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-contents: center;
  margin: 5px;
}
#dice-box1 {
  height: 300px;
}
#dice-box2 {
  height: 300px;
}
.roll {
  height: 80px;
  width: 200px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  margin: 10px 0px;
}
