.center {
  text-align: center;
}

#master-container {
  display: grid;
  grid-template-columns: 1200px 200px;
  justify-content: center;
  grid-column-gap: 20px;
}

#gameboard {
  display: grid;
  grid-template-columns: 225px 225px 225px 225px 225px;
  grid-template-rows: 225px 225px 225px 225px 225px;
  grid-gap: 20px;
  /* height: 800px; */
}

#sidebar {
  display: grid;
  grid-template-columns: 200px;
}

#gameboard > .grid-item {
  border-style: solid;
}

.turns {
  float: left;
  display: inline-block;
  padding-right: 10px;
}

#monster-sprites {

}

#sprites-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.grid-item {

}

/* Dice Roll Css */
.block {
  display: flex;
  position: relative;
  justify-content: center;
}
.dice-count, .dice-count input {
  font-size: 20px;
}
.box {
  width: auto;
  border: 1px solid black;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-contents: center;
  margin: 5px;
}
#dice-box1 {
  height: 200px;
}
#dice-box2 {
  height: 200px;
}
.roll {
  height: 80px;
  width: 200px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  margin: 10px 0px;
}
